<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple Twitter Stream</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="libs/jquery-2.1.1.js"></script>
    <script src="libs/lodash.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<h1 align="center"><span class="label label-info">Simple Twitter Stream</span></h1>
<br>
<div id="tweet-container"></div>

<script type="text/javascript" src="home.js">
    
</script>
</body>
</html>